body {
  margin: 0;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Oswald";
  }
  body {
    font-family: "Open Sans";
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar {
  position: sticky;
  top: 30px;

  @media (max-width: 992px) {
    top: 0px;
    position: relative;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
